@use 'sass:color';

$catalog: '.catalog';

#{$catalog} {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  &-more {
    display: flex;
    justify-content: center;

    button {
      border-radius: var(--border-radius);
      padding: 8px 16px;
      background: transparent;
      border: 1px solid #ffc600;
      cursor: pointer;
      font-weight: 500;

      &:hover {
        background: color.scale(#f8f8f8, $lightness: -5%);
      }
    }
  }
}
