@use 'sass:color';

$category: '.category';
$categoryLabel: '#{$category}__item-label';

#{$category} {
  display: flex;
  align-items: center;

  &__item {
    &-input {
      display: none;

      &:checked + #{$categoryLabel} {
        background: #ffc600;
        font-weight: 700;
      }
    }

    &-label {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 8px 16px;
      border: 1px solid #ffc600;

      &:hover {
        background: color.scale(#f8f8f8, $lightness: -5%);
      }
    }

    &:first-child {
      #{$categoryLabel} {
        border-radius: 12px 0 0 12px;
      }
    }

    &:not(:first-child) {
      #{$categoryLabel} {
        border-left: none;
      }
    }

    &:last-child {
      #{$categoryLabel} {
        border-radius: 0 12px 12px 0;
      }
    }
  }
}
