.page {
  display: grid;
  width: 100%;
  max-width: 975px;
  margin: 0 auto;
  gap: 48px;
  padding: 24px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
