.search {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;

  &__button {
    position: absolute;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__input {
    padding: 8px 12px 8px 40px;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
    cursor: text;

    &:focus {
      border-color: darken(#ccc, 20%);
    }
  }
}
